#Copy this and rename for your dev setup or live

#Ethereum
ETH_PRIVATE_KEY=""
ETH_PUBLIC_KEY=""
TEST_PHRASE="timber initial unhappy transfer genre divorce noodle liberty hen steel trumpet clever"
LOCAL_NODE_HTTP_ENDPOINT="http://localhost:8545"
LOCSL_NODE_SOCKETS_ENDPOINT=""
ROPSTEN_NODE_END_POINT="https://ropsten.infura.io/v3/72558b256e3148358d057eea53feb029"
LIVE_MODE_END_POINT="https://mainnet.infura.io/v3/72558b256e3148358d057eea53feb029"


