#Copy this and rename for your dev setup or live

#Ethereum
#========
#ETH_PRIVATE_KEY=""
#ETH_PUBLIC_KEY=""
# Key used to sign transactions on contract
SIGN_KEY="0x2219082ae071dc68723e2b5b82e766662c9a6217e9357cc3da4363a8b7fa3611"
# Seed only used for test instances
SEED_PHRASE="timber initial unhappy transfer genre divorce noodle liberty hen steel trumpet clever"
#NODE_HTTP_ENDPOINT="http://localhost:8545"
# This is ignored when running truffle tests. They only care about localhost
NODE_HTTP_ENDPOINT="https://ropsten.infura.io/v3/72558b256e3148358d057eea53feb029"
# ATM not using sockets
NODE_SOCKETS_ENDPOINT=""
# This is the same address across all instances
# We fund this contract to pay for the gas on our transactions
GSN_HUB="0xD216153c06E857cD7f72665E0aF1d7D82172F494"

#NOTARY_CONTRACT="[ur local]"
#ropsten
#NOTARY_CONTRACT="0xd102C4949eAb1D3e50f4bB967F4e7F76AAb0Af15"
#do we need several of these??? may have on deploy but able to use several networks!!!
NOTARY_CONTRACT="0xA094ffcAE1423AB18Eed483972920D6c05cc7c70"



#API
#===

SALT="somerandomstring"
TEST_TOKEN="admintokenforapiaccess"
TEST_EMAIL="test@niftynotary.io"
TEST_PASSWORD="sometestpassword"
TEST_FIRST_NAME="test"
TEST_LAST_NAME="test"


#DANGEROUSLY_DISABLE_HOST_CHECK=true #set cors and remove this -- dangerous
#is the one below more recent
#0xCAf596EC4A34C8D015107E08F91f02E738ca3307
#GSN_LOCAL_HUB=""
#GSN_ROPSTEN_HUB=""
#GSN_LIVE_HUB=""
#ROPSTEN_NODE_END_POINT="https://ropsten.infura.io/v3/72558b256e3148358d057eea53feb029"
#LIVE_MODE_END_POINT="https://mainnet.infura.io/v3/72558b256e3148358d057eea53feb029"
#actually live, test and local should have their own env vars an not munged in here!!!!

#=====================================


## Copy this rename it to .env
## Do not ever commit .env, it contains secrets
##Copy this and rename for your dev setup or live
#
##Ethereum
## Key used to sign transactions on contract
#SIGN_KEY="0x2219082ae071dc68723e2b5b82e766662c9a6217e9357cc3da4363a8b7fa3611"
## Seed only used for test instances
#SEED_PHRASE="timber initial unhappy transfer genre divorce noodle liberty hen steel trumpet clever"
##NODE_HTTP_ENDPOINT="http://localhost:8545"
## This is ignored when running truffle tests. They only care about localhost
#NODE_HTTP_ENDPOINT="https://ropsten.infura.io/v3/72558b256e3148358d057eea53feb029"
## ATM not using sockets
#NODE_SOCKETS_ENDPOINT=""
## This is the same address across all instances
## We fund this contract to pay for the gas on our transactions
#GSN_HUB="0xD216153c06E857cD7f72665E0aF1d7D82172F494"
## Your local
##NOTARY_CONTRACT="[0x]"
##ropsten
#NOTARY_CONTRACT="0xd102C4949eAb1D3e50f4bB967F4e7F76AAb0Af15"
#
#
#
#
#
#
##GSN_LOCAL_HUB=""
##GSN_ROPSTEN_HUB=""
##GSN_LIVE_HUB=""
##ROPSTEN_NODE_END_POINT="https://ropsten.infura.io/v3/72558b256e3148358d057eea53feb029"
##LIVE_MODE_END_POINT="https://mainnet.infura.io/v3/72558b256e3148358d057eea53feb029"
##actually live, test and local should have their own env vars an not munged in here!!!!
#
#
#
#
#
#
#
#
#
#
#
#
#
##Ethereum
##ETH_PRIVATE_KEY=""
##ETH_PUBLIC_KEY=""
##TEST_PHRASE="timber initial unhappy transfer genre divorce noodle liberty hen steel trumpet clever"
##LOCAL_NODE_HTTP_ENDPOINT="http://localhost:8545"
##LOCSL_NODE_SOCKETS_ENDPOINT=""
##ROPSTEN_NODE_END_POINT="https://ropsten.infura.io/v3/72558b256e3148358d057eea53feb029"
##LIVE_MODE_END_POINT="https://mainnet.infura.io/v3/72558b256e3148358d057eea53feb029"
##GSN_HUB=""
###GSN_LOCAL_HUB=""
###GSN_ROPSTEN_HUB=""
###GSN_LIVE_HUB=""
###actually live, test and local should have their own env vars an not munged in here!!!!
##
